<div class="container">
<header>
 <h1>Constitución del Ciudadano del Mundo</h1>
 <p>Abajo ves propuestas para una constitución mundial alternativa y podes votar sobre los artículos.
    <br> La constitución está pensada para mejorar, criticar, pensar y difundir.  <br>Abrazo</p>
</header>

<main>

<aside class="combox">Bienvenid@ al nuevo mundo <br>

    Valoramos mucho tu opnion y tu creatividad, Si no te gusta alguna de las propuestas, por favor, reformula la como quieres mas abajo. Tambien será parte valorada de este proceso de pensamiento colectivo.
    <br>
     También te pedimos que invites a todos tus amigos, familiares o otra gente a quienes importa el mundo en que viven!
</aside>

<section class="votebox">
<div class="votebox-top">
    <div class="avatar"></div>
    <p>Kramkramkram hat geschrieben:</p> 
    <div class="buttonbox-top">
        <div class="button"><a class="participation" href="">Oo°</a></div>
        <div class="button"><a class="participation" href="">überstezen</a></div>
    </div>
</div>   

<p class="statement">Vor drei Monaten brach der Kurznachrichtendienst Twitter ein scheinbares Naturgesetz, indem er die maximale Zeichenlänge seiner Beiträge verdoppelte.</p>
<div class="buttonbox">
  <div class="button pro"><a class="participation" href="">ich stimme dafür</a></div>  
  <div class="button contra"><a class="participation" href="">ich stimme dagegen</a></div>  
  <div class="button neutral"><a class="participation" href="">unentschieden/ keien meinung</a></div>  
</div>
</section>

<div class="bar">
<p>32 von 45</p>    
<div class="filling"></div>   

</div>

<aside class="combox">
    <p>Got a different idea?</p>

    <p>Vous souhaitez faire connaître votre point de vue ou partager votre expérience dans une conversation? Il vous suffit de les ajouter dans le champ ci-dessous.</p>
        
    <p>Une bonne affirmation:</p>

        <ul>
        <li>présente une seule idée;</li>
        <li>présente un nouveau point de vue, de nouvelles expériences ou de nouveaux enjeux;</li> 
        <li> claire et concise (compte au plus 140 caractères)</li> 
       </ul>
        
    <p>Gardez à l’esprit que les énoncés sont affichés de façon aléatoire et que vous ne répondez pas directement à l'affirmation d'un autre participant.</p>
</aside>

<section class="votebox postbox">
<div class="avatar">
</div>
<form>
    <fieldset>
        <input type="text">Faites connaitre votre point de vue font-family: </input>
    </fieldset>
</form>
</section>

<div><div class="button"><a class="participation" href="">get insipired</a></div><div class="button"><a class="participation" href="">VERÖFFENTLICHEN</a></div></div>
<section class="visualisation">
<h2>
Lorem Ipsum    
</h2>    
<div></div>
</section>

</main>
    
</div>